---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/duediligence/123
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  \t<head>\r\n\t    <meta
        charset=\"utf-8\" />\r\n\t    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\r\n\t    <meta name=\"description\" content=\"\" />\r\n\t
        \   <meta name=\"author\" content=\"WealthForge Holdings, Inc.\" />\r\n\t
        \   <title>Oops...</title>\r\n\t</head>\r\n\t<body id=\"ClientErrorPage\">\r\n\t\t<div
        class=\"maincontain\">\r\n\t\t\t<span>\r\n    \r\n\t<div class=\"navbar navbar-fixed-top\"
        role=\"navigation\">\r\n     \t<div class=\"container-fluid\">\r\n      \t\t\r\n
        \    \t\t<div class=\"mainlogo\">\r\n     \t\t\t<a id=\"clientheadSite\" href=\"#\"
        title=\"CapitalForge\"><img src=\"https://sandbox.capitalforge.com/wfcontent/capitalforge/img/capitalforge_logo-175x31.png\"
        class=\"img-responsive\"></a>\r\n     \t\t</div>\r\n     \t\t\r\n     \t\t<div
        class=\"navbar-header\">\r\n     \t\t\t<button type=\"button\" class=\"navbar-toggle\"
        data-toggle=\"collapse\" data-target=\".navbar-collapse\">\r\n\t     \t\t\t<span
        class=\"icon-bar\"></span>\r\n\t\t\t        <span class=\"icon-bar\"></span>\r\n\t\t\t
        \       <span class=\"icon-bar\"></span>\r\n\t\t      \t</button>\r\n\t\t
        \   </div> <!-- / navbar-header -->\r\n\t\t\t<div class=\"collapse navbar-collapse\">\r\n\t\t\t\t<div
        class=\"btn-settings visible-md-lg btn-group\">\r\n\t\t\t\t\t<button type=\"button\"
        class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-caret-down\"></i></button>\r\n\t\t\t\t\t<ul
        class=\"dropdown-menu\" role=\"menu\">\r\n\t\t\t\t\t\t<li><a href=\"../../../../privacy\">Privacy
        Policy</a></li>\r\n\t\t\t\t\t\t<li><a href=\"../../../../terms\">Terms of
        Service</a></li>\r\n\t\t\t\t\t\t<li><a data-toggle=\"modal\" href=\"#support\">Support</a></li>\r\n\t\t\t\t\t\t<li>\r\n\t\t
        \       \t\t\t\r\n\t\t       \t\t\t</li>\r\n\t\t\t\t\t</ul>\r\n\t\t\t\t</div>\r\n\t\t\t\t<ul
        class=\"nav navbar-nav pull-right\">\r\n\t                <li class=\"hidden-md-lg\"></li>\r\n\t
        \               <li class=\"hidd[...]
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/duediligence/xyz
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  \t<h[...]
