---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/duediligence
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"PQ1GJ2KQLI","errors":[{"timestamp":1493345530420,"value":"[PQ1GJ2KQLI]
        : Entity could not be found with specified parameters","parameters":[],"message":"[PQ1GJ2KQLI]
        : Entity could not be found with specified parameters"}],"messages":[]}'
  recorded_at: Fri, 28 Apr 2017 02:12:10 GMT
recorded_with: VCR 3.0.3
