---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investor/007e8578-6841-4106-8fad-fb6ed64ed293
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"007e8578-6841-4106-8fad-fb6ed64ed293","investmentTimeline":{"code":null,"name":null},"country":{"code":"US","name":"United
        States"},"state":{"code":"VA","name":"Virginia","hidden":false},"accreditation":{"code":"INCOME","name":"Income","metadata":null,"sequence":2,"active":true,"version":"2.0","updatedAt":1450899477335,"hidden":false},"investmentRisk":{"code":null,"name":null},"investorType":{"code":"INDIVIDUAL","name":"Individual","metadata":null,"sequence":null,"active":true,"updatedAt":1389792976423,"hidden":false},"investorSubType":null,"status":{"code":"INVESTOR_ACTIVE","name":"Active","metadata":null,"sequence":2,"active":null,"updatedAt":1387360828185,"hidden":null},"name":"Updated
        Name","logo":" https://cdn0.iconfinder.com/data/icons/Personal_loan-512.png","city":"Richmond","investorUrl":"http://fundroom.com/apitest","address":"123
        Test Rd.","address2":null,"phone":"(804)-555-1234","zip":"23229","signature":null,"taxId":"112-22-3333","uid":null,"accredited":true,"dob":-867700800000,"income":10000000.00,"netWorth":null,"accreditedOther":null,"eligibleInvestAmount":null,"email":"wealthforge_api_investor@fundroom.com","purchaseRepExists":null,"purchaseRepName":null,"purchaseRepAddress":null,"purchaseRepAddress2":null,"purchaseRepCity":null,"purchaseRepState":null,"purchaseRepZip":null,"existingRelationship":null,"existingRelationshipName":null,"existingRelationshipYears":null,"existingRelationshipNature":null,"yearVerified":null,"accreditationFile":null,"ssn":null},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Fri, 09 Jun 2017 15:40:53 GMT
recorded_with: VCR 3.0.3
