---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/issuer
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"97e6332e-2f0f-461a-b5af-af22fe3ba0ee","country":{"code":"US","name":"United
        States"},"stateOfFormation":{"code":"NJ","name":"New Jersey","hidden":false},"state":{"code":"NY","name":"New
        York","hidden":false},"status":null,"entityType":{"code":"ENTITY_TYPE_LLC","name":"LLC","metadata":null,"sequence":1,"active":true,"updatedAt":1382459455000,"hidden":false},"busName":"LexInvest
        ACH","busLogo":"https://www.fakecorp.com/assets/fakecorp-logo-e240ae59319eaeca74cf80bfb738aa05.png","founderTitle":"Manager","founderName":"Jay
        Greenberg","email":"jaygberg@gmail.com","ssn":null,"ein":"464485031","uid":null,"address":"33
        Whitehall Street","address2":null,"phone":null,"city":"New York","zip":"10004","issuerUrl":null,"accountingFirm":"Downey
        &  Co. LLP","dateOfFormation":1405382400000},{"id":"293f5324-74aa-4a5f-bde7-318a3ff4e3cb","country":{"code":"US","name":"United
        States"},"stateOfFormation":{"code":"AR","name":"Arkansas","hidden":false},"state":{"code":"NY","name":"New
        York","hidden":false},"status":null,"entityType":{"code":"ENTITY_TYPE_LLC","name":"LLC","metadata":null,"sequence":1,"active":true,"updatedAt":1382459455000,"hidden":false},"busName":"WannaSue
        - Lex","busLogo":"https://www.fakecorp.com/assets/fakecorp-logo-e240ae59319ea[...]
