---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/issuer/cc8033ee-cbd9-41b3-a02b-d4aa922a9829
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"cc8033ee-cbd9-41b3-a02b-d4aa922a9829","country":{"code":"US","name":"United
        States"},"stateOfFormation":{"code":"MA","name":"Massachusetts","hidden":false},"state":{"code":"MA","name":"Massachusetts","hidden":false},"status":null,"entityType":{"code":"ENTITY_TYPE_LLC","name":"LLC","metadata":null,"sequence":1,"active":true,"updatedAt":1382459455000,"hidden":false},"busName":"LexShares","busLogo":"http://unews.utah.edu/wp-content/uploads/Cash.jpg","founderTitle":"CEO","founderName":"James
        Smith","email":"wealthforge_api_test@mailinator.com","ssn":null,"ein":"999999999","uid":null,"address":"124
        Investor Way","address2":null,"phone":"2125551234","city":"Boston","zip":"02139","issuerUrl":null,"accountingFirm":"Accountants,
        LLC","dateOfFormation":1004572800000},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Fri, 09 Jun 2017 03:23:38 GMT
recorded_with: VCR 3.0.3
