---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/subscriptionAgreement
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"NXDQUZD5BD","errors":[],"messages":[]}'
  recorded_at: Wed, 03 May 2017 02:11:10 GMT
recorded_with: VCR 3.0.3
