---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/issuer
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  \t<head><script type=\"text/javascript\"
        src=\"/capitalforge-transaction/js/jquery.js\"></script>\n<script type=\"text/javascript\"
        src=\"../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-event-jquery.min-ver-CD167ED7BEFC26AED029F20C2EBF9AA7.js\"></script>\n<script
        type=\"text/javascript\" src=\"../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-ajax-jquery.min-ver-373007567CBDD4D664471DD5DBA38759.js\"></script>\n<script
        type=\"text/javascript\" id=\"wicket-ajax-base-url\">\n/*<![CDATA[*/\nWicket.Ajax.baseUrl=\"api/issuer\";\n/*]]>*/\n</script>\n\r\n\t
        \   <meta charset=\"utf-8\" />\r\n\t    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1, maximum-scale=1\" />\r\n\t    <meta name=\"description\"
        content=\"\" />\r\n\t    <meta name=\"author\" content=\"WealthForge Holdings,
        Inc.\" />\r\n\t    <title>CapitalForge</title>\r\n\t\t\r\n\t<link rel=\"stylesheet\"
        type=\"text/css\" href=\"../wicket/resource/org.apache.wicket.Application/skincss/a2c37db4-e4fd-4bb7-87ce-5dcb7309be8e\"
        />\n<script type=\"text/javascript\" >\n/*<![CDATA[*/\nWicket.Event.add(window,
        \"domready\", function(event) { \nWicket.Ajax.ajax({\"f\":\"id1\",\"u\":\"../login?0-1.IBehaviorListener.0-clientSidePanel-supportForm-submitSupportLink\",\"e\":\"click\",\"c\":\"id2\",\"sc\":\"submitSupportLink\",\"i\":\"id3--ajax-indicator\",\"m\":\"POST\"});;\nWicket.Ajax.ajax({\"f\":\"form\",\"u\":\"../login?0-1.IBehaviorListener.0-form-currentPanel-submit\",\"e\":\"click\",\"c\":\"id4\",\"mp\":true,\"sc\":\"currentPanel:submit\",\"i\":\"id5--ajax-indicator\",\"m\":\"POST\"});;\nWicket.Ajax.ajax({\"u\":\"../login?0-1.IBehaviorListener.0-form-currentPanel-signupLink\",\"e\":\"click\",\"c\":\"id6\",\"i\":\"id5--ajax-indicator\"});;\nWicket.Ajax.ajax({\"u\":\"../login?0-1.IBehaviorListener.0-form-currentPanel-forgotLink\",\"e\":\"click\",\"c\":\"id7\",\"i\":\"id5--ajax-indicator\"});;\nWicket.Event.publish(Wicket.Event.Topic.AJAX_HANDLERS_BOUND);\n;});\n/*]]>*/\n</script>\n</head>\r\n\t\r\n\t<body
        id=\"UserLoginPage\">\r\n        <div class=\"maincontain\">\r\n            <span>\r\n
        \   \r\n\t<div class=\"navbar navbar-fixed-top\" role=\"navigation\">\r\n
        \    \t<div class=\"container-fluid\">\r\n      \t\t\r\n     \t\t<div class=\"mainlogo\">\r\n
        \    \t\t\t<a id=\"clientheadSite\" href=\"#\" title=\"CapitalForge\"><img
        src=\"https://sandbox.capitalforge.com/wfcontent/capitalforge/img/capitalforge_logo-175x31.png\"
        class=\"img-responsive\"></a>\r\n     \t\t</div>\r\n     \t\t\r\n     \t\t<div
        class=\"navbar-header\">\r\n     \t\t\t<button type=\"button\" class=\"navbar-toggle\"
        data-toggle=\"collapse\" data-target=\".navbar-collapse\">\r\n\t     \t\t\t<span
        class=\"icon-bar\"></span>\r\n\t\t\t        <span class=\"icon-bar\"></span>\r\n\t\t\t
        \       <span class=\"icon-bar\"></span>\r\n\t\t      \t</button>\r\n\t\t
        \   </div> <!-- / navbar-header -->\r\n\t\t\t<div class=\"collapse navbar-collapse\">\r\n\t\t\t\t<div
        class=\"btn-settings visible-md-lg btn-group\">\r\n\t\t\t\t\t<button type=\"button\"
        class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-caret-down\"></i></button>\r\n\t\t\t\t\t<ul
        class=\"dropdown-menu\" role=\"menu\">\r\n\t\t\t\t\t\t<li><a href=\"../privacy\">Privacy
        Policy</a></li>\r\n\t\t\t\t\t\t<li><a href=\"../terms\">Terms of Service</a></li>\r\n\t\t\t\t\t\t<li><a
        data-toggle=\"modal\" href=\"#support\">Support</a></li>\r\n\t\t\t\t\t\t<li>\r\n\t\t
        \       \t\t\t\r\n\t\t       \t\t\t</li>\r\n\t\t\t\t\t</ul>\r\n\t\t\t\t</div>\r\n\t\t\t\t<ul
        class=\"nav navbar-nav pull-right\">\r\n\t                <li class=\"hidden-md-lg\"></li>\r\n\t
        \               <li class=\"hidden-md-lg\"></li> \[...]
