---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"044bac29-96aa-4208-9a46-bf865b0817db","parentId":"fee3a56d-7426-4f01-9a0a-3a3315095a20","nacha":{"code":"CCD","name":"Corporate
        credit or debit","metadata":null,"sequence":null,"active":null,"updatedAt":1382459455000,"hidden":false},"bankName":null,"name":"John
        Smith","number":"***4567","routing":"011103093","numberHint":null},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Thu, 04 May 2017 01:37:31 GMT
recorded_with: VCR 3.0.3
