---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/start
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":"/capitalforge-transaction/start/investor?key=9362b50d-8a27-459c-9204-1dbbad7abd53","status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Thu, 04 May 2017 01:37:31 GMT
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"code":"INVESTMENT_APPROVED","name":"Approved","metadata":null,"sequence":null,"active":null,"updatedAt":1387360941563,"hidden":null},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Thu, 04 May 2017 01:37:31 GMT
recorded_with: VCR 3.0.3
