---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/offering
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"3d609eb4-93aa-444c-be02-72ee5ec584ad","status":{"code":"OFFERING_ACTIVE","name":"Active","metadata":null,"sequence":4,"active":null,"updatedAt":1387358184294,"hidden":null},"paymentStatus":null,"escrowStatus":null,"wfStatus":{"code":"OFFERING_ACTIVE","name":"Active","metadata":null,"sequence":4,"active":null,"updatedAt":1387358184294,"hidden":null},"escrowAccount":null,"feeAccount":null,"clientAccount":null,"issuer":{"id":"df713899-8d5f-4f30-ab1e-7c634ef83815","country":{"code":"US","name":"United
        States"},"stateOfFormation":{"code":"NJ","name":"New Jersey","hidden":false},"state":{"code":"NY","name":"New
        York","hidden":false},"status":null,"entityType":{"code":"ENTITY_TYPE_LLC","name":"LLC","metadata":null,"sequence":1,"active":true,"updatedAt":1382459455000,"hidden":false},"busName":"LexInvest
        Fund 49 LLC","busLogo":"https://www.lexshares.com/assets/lexshares-logo-e240ae59319eaeca74cf80bfb738aa05.png","founderTitle":"Manager","founderName":"John
        Smith","email":"jaygberg@gmail.com","ssn":null,"ein":"111111111","uid":null,"address":"33
        Downtown Street","address2":null,"phone":null,"city":"Nevada","zip":"10004","issuerUrl":null,"accountingFirm":"Downey
        &  Co. LLP","dateOfFormation":1449360000000},"escrow":null,"previouslyRaised":0.00,"minRaise":399999.00,"maxRaise":400000.00,"amountRaised":null,"clientFee":null,"clientCommission":null,"totalNotes":null,"totalShare":400000,"totalSharesAuthorized":null,"totalSharesOutstanding":null,"totalNotesOutstanding":null,"metMinRaise":null,"signed":null,"dateStart":1449378000000,"dateEnd":1451451600000,"paymentOptions":[{"code":"ACH","name":"ACH","metadata":null,"sequence":1,"active":null,"updatedAt":1412771282248,"hidden":null}],"offerDetails":[{"id":"d9e78256-0637-4d03-b94a-58a2cae3ea47","offering":"3d609eb4-93aa-444c-be02-72ee5ec584ad","instrumentType":{"code":"SHARE_COMMON","name":"Common","metadata":null,"sequence":null,"active":false,"updatedAt":1383128671000,"hidden":null},"status":null,"regulationType":{"code":"MEMO_EQUITY_D506C","name":"Regulation
        D Exemption 506(c) Equity - General Solicitation","metadata":"<p>Regulation
        D Exemption 506(c) Equity - General Solicitation: is considered a \"safe harbor\"
        for the private offering exemption of Section 4(2) of the Securities Act.
        Companies relying on the Rule 506(c) exemption can raise an unlimited amount
        of money in exchange for a percentage of ownership. The company may sell its
        securities to an unlimited number of \"accredited investors\". (See Link:
        http://www.sec.gov/answers/rule506.htm for more information)</p>","sequence":12,"active":false,"offerDetailType":{"code":"EQUITY","name":"Equity","metadata":null,"sequence":null,"active":true,"updatedAt":1382473855000,"hidden":false},"updatedAt":1390405001963,"hidden":true},"offerDetailType":{"code":"EQUITY","name":"Equity","metadata":null,"sequence":null,"active":true,"updatedAt":1382473855000,"hidden":false},"postMoneyValuation":400000.00,"preMoneyValuation":null,"minRaise":399999.00,"maxRaise":400000.00,"amountRaised":null,"minInvestment":5000.00,"interestRate":null,"valuationCap":null,"discount":null,"debtYears":null,"maturity":null,"paymentFrequency":null,"price":1.00,"issued":400000}],"title":null},{"id":"9c963502-b231-406d-b201-93e096c3dda0","status":{"code":"OFFERING_INPROGRESS","name":"In
        Progress","metadata":null,"sequence":2,"active":null,"updatedAt":1394485110561,"hidden":null},"paymentStatus":null,"escrowStatus":null,"wfStatus":null,"escrowAccount":null,"feeAccount":null,"clientAccount":null,"issuer":{"id":"a69a1ea6-b7b4-40f9-9441-eafc08f16a84","country":{"code":"US","name":"United
        States"},"stateOfFormation":{"code":"NY","name":"Nevada","hidden":false},"state"[...]
