---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/status
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"code":"INVESTMENT_PENDING","name":"Pending","metadata":null,"sequence":null,"active":null,"updatedAt":1387360913297,"hidden":null},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Fri, 21 Apr 2017 04:16:59 GMT
recorded_with: VCR 3.0.3
