---
http_interactions:
- request:
    method: put
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/approve
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":{"id":"d8cd4024-46aa-4858-9ff1-b10961ec6186","offerDetail":"62eb0e80-8421-4344-9de2-ac69cfeedd1b","subscriptionAgreementStatus":{"code":"SA_APPROVED","name":"Approved","metadata":null,"sequence":null,"active":null,"updatedAt":1387361040197,"hidden":null},"paymentStatus":null,"status":{"code":"INVESTMENT_APPROVED","name":"Approved","metadata":null,"sequence":null,"active":null,"updatedAt":1387360941563,"hidden":null},"escrowStatus":null,"paymentType":{"code":"WIRE","name":"Wire","metadata":null,"sequence":4,"active":null,"updatedAt":1412771282248,"hidden":null},"account":{"id":"044bac29-96aa-4208-9a46-bf865b0817db","parentId":"fee3a56d-7426-4f01-9a0a-3a3315095a20","nacha":{"code":"CCD","name":"Corporate
        credit or debit","metadata":null,"sequence":null,"active":null,"updatedAt":1382459455000,"hidden":false},"bankName":null,"name":"John
        Smith","number":"***4567","routing":"011103093","numberHint":null},"investor":{"id":"fee3a56d-7426-4f01-9a0a-3a3315095a20","investmentTimeline":{"code":null,"name":null},"country":null,"state":{"code":"GA","name":"Georgia","hidden":false},"accreditation":{"code":"INCOME","name":"Income","metadata":null,"sequence":2,"active":true,"version":"2.0","updatedAt":1450899477335,"hidden":false},"investmentRisk":{"code":null,"name":null},"investorType":{"code":"INDIVIDUAL","name":"Individual","metadata":null,"sequence":null,"active":true,"updatedAt":1389792976423,"hidden":false},"investorSubType":null,"status":{"code":"INVESTOR_ACTIVE","name":"Active","metadata":null,"sequence":2,"active":null,"updatedAt":1387360828185,"hidden":null},"name":"Bigly
        Investor","logo":null,"city":"Lawrence","investorUrl":null,"address":"18 Big
        Tron","address2":null,"phone":"124-123-1212","zip":"02139","signature":null,"taxId":null,"uid":null,"accredited":true,"dob":757400400000,"income":null,"netWorth":null,"accreditedOther":null,"eligibleInvestAmount":null,"email":"dino.simone+123tester@fakecorp.com","purchaseRepExists":false,"purchaseRepName":null,"purchaseRepAddress":null,"purchaseRepAddress2":null,"purchaseRepCity":null,"purchaseRepState":null,"purchaseRepZip":null,"existingRelationship":null,"existingRelationshipName":null,"existingRelationshipYears":null,"existingRelationshipNature":null,"yearVerified":null,"accreditationFile":null,"ssn":"123-12-1212"},"wfStatus":null,"dateStart":null,"dateEnd":null,"investAmount":5555.00,"expectedReturn":null,"percentageOwnership":null,"inMinRaiseAchieved":null,"uuidCertificate":null,"amount":7500},"status":200,"code":null,"errors":[],"messages":[]}'
  recorded_at: Thu, 04 May 2017 01:37:32 GMT
recorded_with: VCR 3.0.3
