---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/duediligence
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"7LDR4F3MOH","errors":[{"timestamp":1493173658774,"value":"[7LDR4F3MOH]
        : Entity could not be found with specified parameters","parameters":[],"message":"[7LDR4F3MOH]
        : Entity could not be found with specified parameters"}],"messages":[]}'
  recorded_at: Wed, 26 Apr 2017 02:27:38 GMT
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d33b81d9-e509-4a24-acc6-06d862873797/subscriptionAgreement
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"ZI62ERI4GB","errors":[],"messages":[]}'
  recorded_at: Wed, 26 Apr 2017 02:42:27 GMT
[...]
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/subscriptionAgreement
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"1IYMS6WMF2","errors":[],"messages":[]}'
  recorded_at: Fri, 28 Apr 2017 02:12:01 GMT
recorded_with: VCR 3.0.3
