---
http_interactions:
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/offerDetail
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\r\n<html lang=\"en\">\r\n  \t<head><script type=\"text/javascript\"
        src=\"/capitalforge-transaction/js/jquery.js\"></script>\n<script type=\"text/javascript\"
        src=\"../../../../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-event-jquery.min-ver-CD167ED7BEFC26AED029F20C2EBF9AA7.js\"></script>\n<script
        type=\"text/javascript\" src=\"../../../../wicket/resource/org.apache.wicket.ajax.AbstractDefaultAjaxBehavior/res/js/wicket-ajax-jquery.min-ver-373007567CBDD4D664471DD5DBA38759.js\"></script>\n<script
        type=\"text/javascript\" id=\"wicket-ajax-base-url\">\n/*<![CDATA[*/\nWicket.Ajax.baseUrl=\"api/investment/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/offerDetail\";\n/*]]>*/\n</script>\n\r\n\t
        \   <meta charset=\"utf-8\" />\r\n\t    <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0\" />\r\n\t    <meta name=\"description\" content=\"\" />\r\n\t
        \   <meta name=\"author\" content=\"WealthForge Holdings, Inc.\" />\r\n\t
        \   <title>Page Not Found</title>\r\n\t<link rel=\"stylesheet\" type=\"text/css\"
        href=\"../../../../wicket/resource/org.apache.wicket.Application/skincss/a2c37db4-e4fd-4bb7-87ce-5dcb7309be8e\"
        />\n<script type=\"text/javascript\" >\n/*<![CDATA[*/\nWicket.Event.add(window,
        \"domready\", function(event) { \nWicket.Ajax.ajax({\"f\":\"id1\",\"u\":\"../../../../error404?0-1.IBehaviorListener.0-clientSidePanel-supportForm-submitSupportLink\",\"e\":\"click\",\"c\":\"id2\",\"sc\":\"submitSupportLink\",\"i\":\"id3--ajax-indicator\",\"m\":\"POST\"});;\nWicket.Event.publish(Wicket.Event.Topic.AJAX_HANDLERS_BOUND);\n;});\n/*]]>*/\n</script>\n</head>\r\n\r\n\t<body
        id=\"Client404ErrorPage\">\r\n\t\t<div class=\"maincontain\">\r\n\t\t\t<span>\r\n
        \   \r\n\t<div class=\"navbar navbar-fixed-top\" role=\"navigation\">\r\n
        \    \t<div class=\"container-fluid\">\r\n      \t\t\r\n     \t\t<div class=\"mainlogo\">\r\n
        \    \t\t\t<a id=\"clientheadSite\" href=\"#\" title=\"CapitalForge\"><img
        src=\"https://sandbox.capitalforge.com/wfcontent/capitalforge/img/capitalforge_logo-175x31.png\"
        class=\"img-responsive\"></a>\r\n     \t\t</div>\r\n     \t\t\r\n     \t\t<div
        class=\"navbar-header\">\r\n     \t\t\t<button type=\"button\" class=\"navbar-toggle\"
        data-toggle=\"collapse\" data-target=\".navbar-collapse\">\r\n\t     \t\t\t<span
        class=\"icon-bar\"></span>\r\n\t\t\t        <span class=\"icon-bar\"></span>\r\n\t\t\t
        \       <span class=\"icon-bar\"></span>\r\n\t\t      \t</button>\r\n\t\t
        \   </div> <!-- / navbar-header -->\r\n\t\t\t<div class=\"collapse navbar-collapse\">\r\n\t\t\t\t<div
        class=\"btn-settings visible-md-lg btn-group\">\r\n\t\t\t\t\t<button type=\"button\"
        class=\"dropdown-toggle\" data-toggle=\"dropdown\"><i class=\"fa fa-caret-down\"></i></button>\r\n\t\t\t\t\t<ul
        class=\"dropdown-menu\" role=\"menu\">\r\n\t\t\t\t\t\t<li><a href=\"../../../../privacy\">Privacy
        Policy</a></li>\r\n\t\t\t\t\t\t<li><a href=\"../../../../terms\">Terms of
        Service</a></li>\r\n\t\t\t\t\t\t<li><a data-toggle=\"modal\" href=\"#support\">Support</a></li>\r\n\t\t\t\t\t\t<li>\r\n\t\t
        \       \t\t\t\r\n\t\t       \t\t\t</li>\r\n\t\t\t\t\t</ul>\r\n\t\t\t\t</div>\r\n\t\t\t\t<ul
        class=\"nav navbar-nav pull-right\">\r\n\t                <li class=\"hidden-md-lg\"></li>\r\n\t
        \               <li class=\"hidd[...]
- request:
    method: get
    uri: https://sandbox.capitalforge.com/capitalforge-transaction/api/investment/d8cd4024-46aa-4858-9ff1-b10961ec6186/offerDetail
    body:
      encoding: UTF-8
      string: 'null'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data":null,"status":500,"code":"NAFEY3I7QZ","errors":[{"timestamp":1493779082722,"value":"[NAFEY3I7QZ]
        : Entity could not be found with specified parameters","parameters":[],"message":"[NAFEY3I7QZ]
        : Entity could not be found with specified parameters"}],"messages":[]}'
  recorded_at: Wed, 03 May 2017 02:38:02 GMT
recorded_with: VCR 3.0.3
